<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>記録を追加</h1>
    <form action="/add_post" method="POST">
    <input type="text" name="title" placeholder="タイトル">
    <br>
    <label>タグ（カンマで区切る）:</label>
    <input type="text" name="tags" placeholder="DP, グラフ, 典型">
    <br>
    <textarea name="memo" placeholder="考えたこと" rows="5"></textarea>
    <br>
    <textarea name="code" placeholder="回答コード" rows="10"></textarea>
    <br>
    <button type="submit">保存する</button>
    </form>
    <a href="/">戻る</a>
</body>
</html>